<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--      <ion-menu-button></ion-menu-button>-->
      <ion-back-button
        text='back'
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-progress-bar [value]="this.progress"  color="secondary"  *ngIf="this.progress > 0"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-text>Nombre del paciente:</ion-text>
      &nbsp;
      <ion-label> {{pacientName}} </ion-label>
    </ion-item>


    <ion-item>
      <ion-text>Información de la visita:</ion-text>
      &nbsp;
      <ion-label> {{this.treatment}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-text>Fecha:</ion-text>
    &nbsp;
    <ion-label> {{this.visit?.data.getDate()}}/{{this.visit?.data.getMonth()}}/{{this.visit?.data.getFullYear()}} </ion-label>
  </ion-item>

</ion-content>
