<ion-header>
  <ion-toolbar>
    <ion-title>INurse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>

    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input [(ngModel)]="this.form.dni"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="this.form.password"></ion-input>
    </ion-item>

  </ion-list>
  <br/>
  <div>
    <ion-button expand="block" shape="round" (click)="proceedLogin()" >Iniciar Sesión</ion-button>
  </div>
  {{this.form| json}}
  <ion-title>Response ok</ion-title>
  {{this.dataResponseOk | json}}
  <label> Error</label>
  <ion-title>Message Error </ion-title>
  {{this.errorMessage | json}}

</ion-content>
