



<ion-list>
 
  <ion-item *ngFor="let paciente of pacienteList" (click)=verFichaPaciente(paciente.id)> 
<ion-label>
       <ul>
         <li style="list-style: none;">&nbsp; &nbsp; <b>Nombre:</b> {{paciente.first_name}}<br></li>
         <li style="list-style: none;">&nbsp; &nbsp; <b>Apellido: </b>{{paciente.last_name}}</li>
         <li style="list-style: none;">&nbsp; &nbsp; <b>Planta:</b> {{paciente.room.floor.floor_num}}</li>
       </ul>
      
     </ion-label>
  </ion-item>
</ion-list>
