<ion-header>
<!--  <ion-toolbar>
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row >
        <ion-col >
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col   >
          <ion-list-header class="headerPrincipal">Pantalla Principal</ion-list-header>
        </ion-col>
        <ion-col >
          <ion-searchbar style="margin-top: 10px;" placeholder="" (ionChange)="pantallaBuscador($event.detail.value)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>-->


  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="this.openClose()"><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title  >Lista Pacientes</ion-title>
  </ion-toolbar>
  <ion-searchbar  *ngIf="this.isSearchOn"
                  (ionChange)="pantallaBuscador($event.detail.value)"
                  showCancelButton="always"
                  (ionCancel)="this.showTitle()"


                  placeholder="Nombre paciente"
                  animated="true"

                  cancelButtonIcon="chevron-back-outline"
                  >

  </ion-searchbar>
</ion-header>


<ion-content>
<!--  <ion-button (click)="this.refreshLogin()"> Refresh</ion-button>-->

  <div *ngIf="!buscador">
  <ion-grid>
    <ion-row>
      <ion-col size="11">
        <ion-segment scrollable   >
          <ion-segment-button *ngFor="let planta of arrayPlanta" (click)="cambioPlanta(planta['floor_num'])">

            PLANTA {{planta['floor_num']}}

          </ion-segment-button>

        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>







<!--  <div *ngIf="comprobacionPacienteFijado == '0'">
    <ion-text>&nbsp; &nbsp; <b>No hay ningún paciente fijado</b></ion-text>
  </div>-->
  <div *ngIf="comprobacionPacienteFijado == '1'">

    <ion-row class="ion-align-items-center">
      <ion-text class="ion-padding-end">&nbsp; &nbsp; <b>Paciente fijado: {{nombrePacienteFijado}} {{apellidoPacienteFijado}}</b></ion-text>
      <ion-button (click) = "desfijarPaciente()" expand="block" color="danger" size="small"   fill="outline"><ion-icon name="close-circle-sharp"></ion-icon></ion-button>
    </ion-row>
  </div>

  <div *ngIf="comprobacionPacienteFijado == '1'">

  </div>


<!--
    <ion-item-sliding>
      <ion-item href="#" >
        <ion-label>
          <h2>Nombre paciente</h2>
          <p>habitacion paciente</p>
        </ion-label>
        <ion-note slot="end">
          <button>fijar</button>
        </ion-note>
      </ion-item>

    </ion-item-sliding>
-->


    <ion-item-sliding class="paciente "  ion-item *ngFor="let item of this.listPlantaActual">
     <!-- <ion-item-sliding [ngClass]="{'background-color-grey': i %2 == 0}" >
        <ion-label class="ion-text-wrap "   (click)="this.verFichaPaciente(item[3])">{{i}} -&#45;&#45; {{item[0]}} : {{item[1]}} {{item[2]}}</ion-label >
        <div *ngIf="comprobacionPacienteFijado == '0'">
          <ion-button (click) = "fijarPaciente(item[1],item[2])" expand="block" size="small" color="primary"  fill="outline"><ion-icon src="assets/icon/pin.svg"></ion-icon></ion-button>
        </div>
      </ion-item-sliding>-->
      <ion-item    >
        <ion-label (click)="this.verFichaPaciente(item[3])" >
          <h2>{{this.item[1]}} {{this.item[2]}}</h2>
          <p>Habitación: {{this.item[0]}}</p>
        </ion-label>
        <ion-note slot="end" *ngIf="comprobacionPacienteFijado == '0'">
          <ion-button (click) = "fijarPaciente(item[1],item[2], item[3])" expand="block" size="small" color="primary"  fill="outline"><ion-icon src="assets/icon/pin.svg"></ion-icon></ion-button>
        </ion-note>
      </ion-item>
    </ion-item-sliding>


</div>
<!--  <img src="./assets/icon/pin.png">-->

<div *ngIf="buscador">


  <app-buscador [pacienteList]="pacienteList"></app-buscador>

</div>

</ion-content>
