
ion-title{
    position: relative;
    text-align: center;

}

.paciente {
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #141313;
    background-color: #85aec2;
    border-radius: 2px;
    border: 1px solid #000000; 
}


.HabIzq{
    
    margin-left: 60px;
    margin-bottom: 25px;
}

.HabDer{
    
    margin-left: 60px;
    
}

