<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col offSet="2" size="6">
          <ion-title class="ion-text-center">Pantalla Principal</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-searchbar placeholder="Buscador" (ionChange)="pantallaBuscador($event.detail.value)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="!buscador">
  <ion-grid>
    <ion-row>
      <ion-col size="11">
        <ion-segment scrollable   >
          <ion-segment-button *ngFor="let planta of arrayPlanta" (click)="cambioPlanta(planta['floor_num'])">

            PLANTA {{planta['floor_num']}}

          </ion-segment-button>

        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>







  <div *ngIf="comprobacionPacienteFijado == '0'">
    <ion-text>&nbsp; &nbsp; <b>No hay ningún paciente fijado:</b></ion-text>
  </div>
  <div *ngIf="comprobacionPacienteFijado == '1'">
    <ion-text>&nbsp; &nbsp; <b>Paciente fijado: {{nombrePacienteFijado}} {{apellidoPacienteFijado}}</b></ion-text>
  </div>

  <div *ngIf="comprobacionPacienteFijado == '1'">
    <ion-button (click) = "desfijarPaciente()" expand="block" color="danger">Desfijar paciente</ion-button>
  </div>

  <ion-list>
    <ion-item class="paciente" ion-item *ngFor="let item of listaPaciente" (click)=verFichaPaciente(item[3]) >
      <ion-label>{{item[0]}} : {{item[1]}} {{item[2]}}</ion-label>
      <div *ngIf="comprobacionPacienteFijado == '0'">
        <ion-button (click) = "fijarPaciente(item[1],item[2])" expand="block">Fijar paciente</ion-button>
      </div>
    </ion-item>
  </ion-list>
</div>
<div *ngIf="buscador">
    
        
  <app-buscador [pacienteList]="pacienteList"></app-buscador>

</div>

</ion-content>
