

button {
    text-decoration: none;
    padding: 3px;
    font-weight: 400;
    font-size: 15px;
    color: #141313;
    background-color: #78c3e9;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-left: 10px;
}



