<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--      <ion-menu-button></ion-menu-button>-->
      <ion-back-button
        text='back'
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-progress-bar [value]="this.progress"  color="secondary"  *ngIf="this.progress > 0"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-text>Nombre del paciente:</ion-text>
      <ion-label> {{pacientName}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-text>Enfermero/a:</ion-text>
      &nbsp;
      <ion-label> Nombre enfermera </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Información de la visita</ion-label>
      &nbsp;
      <ion-textarea auto-grow="true" [(ngModel)]="treatment"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-text>Fecha:</ion-text>
    &nbsp;
    <ion-label> {{this.currentDate.getDate()}}/{{this.currentDate.getMonth()}}/{{this.currentDate.getFullYear()}} </ion-label>
  </ion-item>


  <br/>

  <div padding>
    <ion-button expand="block" shape="round" (click)="confirmVisit()" >Confirmar</ion-button>
  </div>

</ion-content>
