<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button
        text='back'
        icon="chevron-back-outline"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ficha Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-progress-bar [value]="this.progress"  color="secondary"  *ngIf="this.progress > 0"></ion-progress-bar>
  <ion-grid  class="ion-padding ion-margin" >
    <ion-row>
      <ion-col  class="ion-padding-vertical" >
        <ion-title class="ion-no-padding ion-text-left">Datos Paciente</ion-title>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col  >
        <ion-label  class="ion-no-padding " >{{ this.patient?.lastName  }}, {{ this.patient?.firstName}} </ion-label>
      </ion-col>
      <ion-col>
        <ion-icon [name]="this.patient?.isMale ? 'male-outline' : 'female-outline' "></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row >
        <ion-col  >
          <ion-row>
            <ion-label>Peso: {{this.patient?.weight}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label class="ion-align-items-start"> </ion-label>
          </ion-row>

        </ion-col>
        <ion-col >
          <ion-row>
            <ion-label>Altura: {{this.patient?.height}}</ion-label>
          </ion-row>
          <ion-row>

            <ion-label class="ion-align-items-end"></ion-label>
          </ion-row>

        </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col  >
        <ion-title class="ion-no-padding ion-text-left " >Estado actual</ion-title>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >

        <ion-item class=" ">
          
          <ion-select [value]="this.patient?.getCurrentStatusNum()? this.patient?.getCurrentStatusNum() : '0'" (ionChange)="this.onChangeStatus($event)"  >
            <ion-select-option value="0">Sin estado</ion-select-option>
            <ion-select-option value="1">En tratamiento</ion-select-option>
            <ion-select-option value="2">En cirugía</ion-select-option>
            <ion-select-option value="3" >Esperando resultados</ion-select-option>
          </ion-select >
        </ion-item>

      </ion-col>

    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col   >
        <ion-title class="ion-no-padding ion-text-left " >Constantes</ion-title>
      </ion-col>
      <ion-col> <ion-button size="small" [color]="this.isUpdateConstant? 'primary': 'light'"  fill="outline" (click)="postFilePatient()" > <ion-icon name="save-outline"></ion-icon></ion-button></ion-col>
    </ion-row>
    <ion-row >
        <ion-col  >
          <ion-item>
            <ion-label position="stacked" >Tensión (mmHg)</ion-label>
            <ion-input type="number" [placeholder]="this.patient?.tension " (ionChange)="onChangeConstants($event.target.id, $event.target.value)" id="tension"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>

      <ion-col  >
        <ion-item>
          <ion-label position="stacked">Temperatura (°C)</ion-label>
          <ion-input type="number" [placeholder]="this.patient?.temperature " (ionChange)="onChangeConstants($event.target.id, $event.target.value)" id="temperature"></ion-input>
        </ion-item>
      </ion-col>


    </ion-row>
    <ion-row>

        <ion-col >
          <ion-item>
            <ion-label position="stacked">Frecuencia Cardiaca (lat/min)</ion-label>
            <ion-input type="number" [placeholder]="this.patient?.heardRate" (ionChange)="onChangeConstants($event.target.id, $event.target.value)" id="heardRate"></ion-input>
          </ion-item>
        </ion-col>

    </ion-row>
    <ion-row id="title-history">
      <ion-col   >
        <ion-title class="ion-no-padding ion-text-left">Historial</ion-title>
      </ion-col>
      <ion-col>
        <ion-button size="small" color="primary"  fill="outline" (click)=addVisitaPaciente()>
          <ion-icon  name="add-circle-outline" class="button-add"  ></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col >
            <ion-infinite-scroll  >
              <ion-item *ngFor="let visit of this.historical?.visits" (click)=verVisitaPaciente(visit.id) >
<!--                <ion-label> {{visit.createdTimestamp}} </ion-label>-->
<!--                <ion-label> {{visit.nurse}} </ion-label>-->
                <ion-label> {{visit.data.getDate() }}/{{visit.data.getMonth()}}/{{visit.data.getFullYear()}} </ion-label>
                <ion-label class="ion-text-wrap"> {{visit.treatment}} </ion-label>



              </ion-item>

            </ion-infinite-scroll>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
