<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ficha Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="ion-align-items-center"  >
    <!--    TODO mirar como poner offset como en img paciente-->
    <ion-row >

      <ion-col offset="1"   >
        <ion-avatar id="img-patient">
          <ion-icon [name]="this.patient?.isMale ? 'male-outline' : 'female-outline' "></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row >
        <ion-col  offset="1" >
          <ion-row  >
<!--            <ion-label>Nombre</ion-label>-->
          </ion-row>
          <ion-row>
            <ion-label  >{{ this.patient?.firstName}}</ion-label>
          </ion-row>

        </ion-col>
        <ion-col offset="1">
          <ion-row>
<!--            <ion-label> Peso </ion-label>-->
          </ion-row>
          <ion-row>
            <ion-label class="ion-align-items-start"> {{this.patient?.weight}}</ion-label>
          </ion-row>

        </ion-col>
        <ion-col offset="1">
          <ion-row>
<!--            <ion-label>Altura</ion-label>-->
          </ion-row>
          <ion-row>

            <ion-label class="ion-align-items-end">{{this.patient?.height}}</ion-label>
          </ion-row>

        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col offset="1">
        <ion-label >nombre medico </ion-label>
        </ion-col>
        <ion-col offset="1">
        <ion-label> nombre enfermera </ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1" class="ion-padding-vertical">
        <ion-title class="ion-no-padding ion-text-left">Estado actual</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1"  class="ion-padding-vertical">

<!--          <ion-icon *ngFor="let state of this.patient.status" name="person-circle-outline" ></ion-icon>-->
        <div class="list-status">
          <ion-icon name="person-circle-outline"  ></ion-icon>
          <ion-icon name="person-circle-outline" ></ion-icon>
          <ion-icon name="person-circle-outline" ></ion-icon>
          <ion-icon name="person-circle-outline" ></ion-icon>
          <ion-button href="#"   size="small"  > <ion-icon name="add-circle-outline" class="button-add" ></ion-icon></ion-button>
        </div>

      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col offset="1"  >
        <ion-title class="ion-no-padding ion-text-left" >Constantes</ion-title>
      </ion-col>
    </ion-row>
    <ion-row >
        <ion-col offset="1" size="6">
          <ion-item>
            <ion-label position="stacked" >Tensión</ion-label>
            <ion-input type="number" [placeholder]="this.patient?.tension ? this.patient?.tension : 'no data'"></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>

      <ion-col offset="1" size="6">
        <ion-item>
          <ion-label position="stacked">Temperatura</ion-label>
          <ion-input type="number" [placeholder]="this.patient?.temperature ? this.patient?.tension : 'no data'"></ion-input>
        </ion-item>
      </ion-col>


    </ion-row>
    <ion-row>

        <ion-col offset="1" size="6">
          <ion-item>
            <ion-label position="stacked">Frecuencia Cardiaca</ion-label>
            <ion-input type="number" [placeholder]="this.patient?.heardRate ? this.patient?.tension : 'no data'"></ion-input>
          </ion-item>
        </ion-col>

    </ion-row>
    <ion-row id="title-history">
      <ion-col offset="1"  size="4" >
        <ion-title class="ion-no-padding ion-text-left">Historial</ion-title>
      </ion-col>

      <ion-col size="7"  class="ion-no-padding ">
        <ion-button class="" href="#"   size="small">
          <ion-icon  name="add-circle-outline" class="button-add" >          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col offset="1">
            <ion-infinite-scroll  >
              <ion-item *ngFor="let visit of this.historical?.visits" >
<!--                <ion-label> {{visit.createdTimestamp}} </ion-label>-->
<!--                <ion-label> {{visit.nurse}} </ion-label>-->
                <ion-label> {{visit.data.getDate() }}/{{visit.data.getMonth()}}/{{visit.data.getFullYear()}} </ion-label>
                <ion-label class="ion-text-wrap"> {{visit.treatment}} </ion-label>



              </ion-item>

            </ion-infinite-scroll>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
