#img-patient , #img-patient ion-icon{
  //width: 7rem;
  //height: 7rem;
}

.button-add{
  font-size: 200%;
}


.list-status{
  display: flex;
  flex-direction: row;
}
.list-status , ion-icon {
  font-size: 150%;
}

ion-label {
  white-space: normal !important;
  transform: none !important;
}
